

.d{
    color: #4EA5D9;;
    font-size: 20px;
    margin-left: 20px;
    margin-top: 30px;
    
}

.list{
    display: flex;
     flex-wrap: wrap;
  justify-content: center;
  
}

.department{
    color: white;
    background-color: aqua;

    background-color: white;
    border: 2px solid lightgray ;
    width: 240px;
    height: 385px;
    margin: 25px;
   
    padding: 6px;
  
   text-align: left;
  
}

.pic{
    position: relative;
    width: 99%;
    background-color: #2A4494;
  
    height: 70px;
    color: #44CFCB;
    font-size: 20px;
}



.cardimage{

   margin-top: 1px;
   margin-bottom:15px;
    height: 130px;
   
    background-size: cover;
    color: white;
    font-size: 20px;
    text-align: center;

   
}
 

.p3{
    background-image: url( ../images/blood-pressure-g9857df7d5_1920.jpg);
}
.o{
    padding-top: 30px;
    font-weight: bold;
}

.contant{
    background-color: #2A4494;
    color: white;
    font-size: 10px;
    line-height: 15px;
    padding: 10px 10px;
    margin-top: -15px;
  

}
.info{
    margin-top: 10px;
    margin-bottom: 25px;
}

.info p{
    color:black;
    font-size: 10px;
    padding: 5px 5px;
   
  
}
hr{
    color: #000;
}

.contant a{
    color: white;
    align-items: end;
    margin-top: 2px;
    padding-left: 135px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.p2{
    background-image: url(../images/brain-g62b1ce603_1920.jpg);
}

.p1{
    background-image: url(../images/Hematology.jpg);
}