*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section, .card-container{
    background-color: white;
}

.card-container{
    margin-top: 170px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
}

.card{
    width: 350px;
    border-radius: 20px;
    background-color: white;
    margin: 20px 10px;
    padding: 0px;
}

.card-image{
    border-radius: 50%;
    height: 150px;
    width: 150px;
    position: relative;
    background-color: white;
    padding: 5px;
}
.card-image .image{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #3D85A1;
}

.card-image, .card-contents{
    margin: 20px 0;
}

.image-contents{
    position: relative;
}

.overlay{
    position: absolute;
    
    left: 50;
    top: 0;
    height: 100%;
    width: 350px;
    background-color: #3D85A1;
    border-radius: 15px 15px 15px 15px;
}

.image-contents, .card-contents{
    padding: 10px 15px;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.doctor-name{
    font-size: 25px;
    color: rgb(56, 53, 53);
}

.info{
    padding: 5px;
    height: 150px;
    font-size: 15px;
    color: rgb(56, 53, 53);
    text-align: center;
    
}

.main-btn{
    border: none;
    font-size: 18px;
    color: white;
    padding: 7px 14px;
    background-color: rgb(61, 133, 161);
    border-radius: 6px;
    margin-top: 40px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.main-btn:hover{
    background-color: rgb(137, 178, 224);
}


body {
    font-family: "Open Sans", sans-serif;
    color: #4EA5D9;
  }
  
  a {
    color: #2A4494;
    text-decoration: none;
  }
  
  a:hover {
    color: #44CFCB;
    /* text-decoration: underline; */
  }
  
  