body {
  font-family: "Open Sans", sans-serif;
  /* color: #fff; */
}

a {
  /* color: #fff; */
  text-decoration: none;
}

a:hover {
  color: #44CFCB;
  /* text-decoration: underline; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

#header {
  background: #fff;
}


#header .logo {
  font-size: 30px;
  padding-left: 10px;
  padding-top: 20px;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 0.8px;
  font-family: "Poppins", sans-serif;
}

#header .logo a {
  color: #4EA5D9;
  text-decoration: none;
}



.appointment-btn {
  margin-left: 10px;
  padding: 10px;
  background: #2A4494;
  color: #fff;
  border-radius: 15px;
  text-decoration: none;
  font-size: 14px;
  display: inline-block;
}

.appointment-btn:hover {
  background-color:#3291e6;
  color: #fff;
}
.navbar ul {
  margin: 0;
  padding-left: 100px;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
  padding-right: 10px;
}

/* Image display*/
#card-hero{
  padding-top: 50px;
  position: relative;
  width:70%;
  height:50%;
  opacity: 70%;

  /* padding:10px; */
  /* margin-left: 10px; */
  align-items: center;
  justify-content: center;
}

#hero {
  width: 100%;
  height: 100vh;
  background: url("../images/background5.jpg") left center;
  background-size: cover;
}

/* #hero .card {
  position: relative;
} */

#hero h1 {
  margin: 10px;
  padding-top: 150px;
  padding-left: 5px;
  padding-bottom: 5px;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  text-transform: uppercase;
  color: #224870;
}

#hero h2 {
  color: #2A4494;
  padding-left: 300px;
  padding-bottom: 5px;
  font-size: 24px;
}
/* 
#hero .btn-get-started {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 35px;
  margin-left: 850px;
  border-radius: 50px;
  text-decoration: none;
  color: #fff;
  background: #1977cc;
}

#hero .btn-get-started:hover {
  background: #3291e6;
} */
.card{
  padding:10px;
  margin-left: 10px;
  align-items: center;
  justify-content: center;
}
.card-img-top{
  height:50%;
}
.card:hover{
  box-shadow: 1px 1px 10px rgba(0,0,0,.3);
  cursor: pointer;
}
#whyus{
  background-color: #224870;
  color: floralwhite;
}
#why{
  color: #44CFCB;
}

/*--------------------------------------------------------------
# Counts
--------------------------------------------------------------*/
.counts {
  background: lightblue;
  padding: 70px 0 60px;
}

.counts .count-box {
  padding: 30px 30px 25px 30px;
  width: 100%;
  position: relative;
  text-align: center;
  background: #fff;
}

.counts .count-box i {
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
  background: #4EA5D9;
  color: #fff;
  border-radius: 50px;
  width: 48px;
  height: 48px;
}

.counts .count-box span {
  font-size: 36px;
  display: block;
  font-weight: 600;
  color: #082744;
}

/* Appointment */
/* #appointment{
  background-color: #f2f2f2;
} */

/*   gallery  */
#gal-title{
  color: #224870;
}
.gallery{
  padding-top: 20px;
  padding-left: 20px;
}
.gallery .gallery-item {
  overflow: hidden;
  height: 420px;
  border-right: 3px solid #fff;
  border-bottom: 3px solid #fff;
}

.gallery .gallery-item img {
  transition: all ease-in-out 0.4s;
}

.gallery .gallery-item:hover img {
  transform: scale(1.1);
}

/* Doctors*/

.doctor-title{
  padding-top: 10px;
  padding-left: 50px;
  padding-right: 60px;
}
/* body{
    background:#DCDCDC;
    margin-top:20px;
} */
.card-box {
    padding: 20px;
    border-radius: 3px;
    margin-bottom: 30px;
    background-color: #fff;
}

.social-links li a {
    border-radius: 50%;
    color: rgba(121, 121, 121, .8);
    display: inline-block;
    height: 30px;
    line-height: 27px;
    border: 2px solid rgba(121, 121, 121, .5);
    text-align: center;
    width: 30px
}

.social-links li a:hover {
    color: #797979;
    border: 2px solid #797979
}
.thumb-lg {
    height: 70%;
    width: 70%;
    padding-left: 100px;
    padding-bottom: 20px;
}
.thumb-lg:hover{
  transform: scale(1.1);
}

.img-thumbnail {
    padding: .75rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .2doct5rem;
    margin: auto;
    /* width: 150%;
    height: 70%; */
}
.text-pink {
    color: #ff679b!important;
}
.btn-rounded {
    border-radius: 2em;
}

.text-muted {
    color: #98a6ad!important;
}
h4 {
    line-height: 22px;
    font-size: 18px;
}
/*End doctors*/

/* Department  */
#img-slide{
  padding-left: 50px;
  padding-right: 50px;
  height: 600px;
  /* width:60% */
}
#backg{
  opacity: 65%;
  /* background-color: #4EA5D9; */
  color: #224870;
}

/* Department End*/



/* Contact Us */
#message{
  color: #2A4494;
}
.form-label{
  color: #3291e6;
}
#sendMess{
  background-color: #3291e6;
  color: #ffff;

}

/* Footer */
.foot{
  color:#082744;
  text-decoration: none;
}
.foot:hover{
  color: #3291e6;
}